.menuButton {
  display: none;
}
@media (max-width: 576px) {
  .drawer-container {
    position: relative;
    display: flex;
    .menuButton {
      display: block;
      margin-left: auto;
      top: 50%;
      position: absolute;

      border: 1px solid grey;
      border-radius: 50%;
    }

    .drawer {
      display: none;
    }
  }
  #draweropen:checked ~ .drawer {
    display: block;
    position: absolute;
    background-color: #fff;
  }
}
