.menu {
  position: relative;
}

.hover-menu {
  display: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
  margin-left: 43px;
  z-index: 1500;
  min-width: 200px;
}

.hover-menu a:hover {
  background-color: #fff;
  color: grey;
}
.item:hover .hover-menu {
  display: block;
}
