.item {
  position: relative;
  margin-top: 5rem;
}
.hover-item {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu:hover .hover-item {
  display: block;
}
