.menu {
  position: relative;
}

.hover-menu {
  display: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
  margin-left: 40px;
  z-index: 1500;
  min-width: 200px;
}

.hover-menu a {
  color: grey;
}
.item:hover .hover-menu {
  display: block;
}
