.toolbar li {
  border: 1px solid rgb(214, 214, 214);
  padding: 0.5em;
  border-radius: 2px;
  display: flex;
  align-items: center;
  button {
    border: 0;
    background: transparent;
  }
  .dropdown-toggle {
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .more {
    width: 4rem;
  }
  &:hover {
    border: 1px solid transparent;
  }
}
.attachments {
  div {
    img {
      border: 0.3rem solid rgb(219, 219, 219);
      border-radius: 10%;
    }
  }
}
.wrapper {
  .editor {
    border: 1px solid #f1f1f1;
    padding: 10px;
    border-radius: 2px;
    height: 300px;
    background-color: white;
  }
}
.mailtoolbar {
  a,
  a:visited {
    text-decoration: none;
  }
}
