.flex {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.table {
  width: 100%;
  font-size: 1rem;
  .tr > * {
    padding: 0.7rem;
  }
  height: 100%;
}

.header {
  padding: 0.4rem;
}
