.bsuccess {
  color: green;
  &:hover {
    background-color: green;
    color: white;
  }
}
.bdanger {
  color: red;
  &:hover {
    background-color: red;
    color: white;
  }
}
.bt {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid;
  font-weight: 500;
}
.hover-orange {
  color: orange;
  cursor: pointer;
  &:hover {
    color: rgb(202, 146, 41);
  }
}
