@mixin animate($animation, $duration, $method) {
  animation: $animation $duration $method;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
@mixin flex-mixin {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-between {
  @include flex-mixin;
  justify-content: space-between;
  flex-direction: column;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  @include flex-mixin;
  justify-content: space-between;
}

.violet-color {
  background-color: #4dc0c8;
}

.orange-color {
  background-color: #f39678;
}

.btn-s {
  border-radius: 5rem;
  padding: 0 0.7rem;
  font-size: 0.8rem;
  height: 20px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.btn-sx {
  border-radius: 5px;

  padding: 0.1rem 0.3rem;
  font-size: 0.7rem;
  height: 20px;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.scroll-div {
  max-height: 650px;
}
.scroll {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Handle on hover */
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgb(211, 211, 211);
    }
  }
}
.scroll-div2 {
  max-height: 450px;
}
.scroll-div3 {
  max-height: 350px;
}
.max-height {
  max-height: 950px;
  height: 100%;
}
.bg {
  opacity: 0.5;
  background-color: #000000;
  background-blend-mode: lighten;
}

.content {
  z-index: 5;
}

.invert {
  filter: grayscale(1) invert(1);
}

span {
  // font-size: 0.7rem;
  // color: grey;
}
.badgeAnimation {
  position: relative;
  &::before {
    content: "";
    height: 30%;
    width: 30%;
    left: 1.3rem;
    border-radius: 50%;

    position: absolute;
    background: rgba(255, 0, 0, 0.5);
  }
  &::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0.9rem;
    border: 4px solid rgba(255, 0, 0, 0.5);
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    @include keyframes(blink) {
      0% {
        transform: scale(0.2);
        opacity: 1;
      }
      100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }
    @include animate(blink, 1.5s, infinite);
  }
}

.no-focus {
  &:focus {
    border: none;
  }
}
.avatarImg {
  @include flex-mixin();
  justify-content: center;
}
.me {
  height: 100%;
  position: relative;
  background-color: #000000;
  background-blend-mode: lighten;
  @include flex-mixin();
  justify-content: center;
  .overlay {
    opacity: 0.2;
  }
}

.blueOverlay {
  background-color: #3b459c;
  background-blend-mode: lighten;
  color: #ffff;
  @include flex-mixin();
  justify-content: center;
  .overlay {
    opacity: 0.2;
  }
}

.small-font {
  font-size: 0.3rem;
  color: grey;
  margin: 0;
}
.graph-header {
  font-weight: 500;
}
